head
  include header.pug
body(class="main")
  include titlebar.pug
  h2 Edit Post
  form(method="POST" action="/api/editreply?post="+post+"&id="+reply)
    label 
      | Body 
      a(href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet") (Markdown)
    br
    textarea(style="width: 70%; height: 60%;" name="replybody") #{postbody}
    br
    input(type="submit" value="Submit")
  include footer.pug