head
  include header.pug
body(class="main")
  h2 Done!
  p
    i Your account's now registered, but it has to be confirmed by an admin before it can be used. Please be patient.
    br
    b If you need to manually contact an admin, send an email to #{support_email}, or add an admin on Discord at #{support_discord}.
    br
    br
    a(href="/") home