label Title
br
input(name="posttitle" type="text" style="width:70%;" value=posttitle)
br
br
label 
  | Body 
  a(href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet") (Markdown)
br
textarea(style="width: 70%; height: 60%;" name="postbody") #{postbody}
br
input(type="submit" value="Submit")